@import "grid.css";

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; margin:0 0 1.5rem; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }

/* General */
html { background:url('virtual_bg.jpg') bottom center repeat-x #000; color:#fff; min-height:100vh; }
body { margin:0; padding:0; font:1em/1.6em 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#9f9f9f; }
img { max-width:100%; height:auto; }
p { margin-bottom:1rem; }
a { color:#CC5858; text-decoration:none; }
a:hover, a:focus { text-decoration:underline; }
strong { font-weight:bold; }

form { margin-bottom:2rem; }
input { border:1px solid #6F3939; border-radius:0.25rem; background:none; color:#CC5858; padding:0.25em; margin-right:0.5rem; }
select { border:1px solid #4d4d4d; border-radius:0.25rem; background:none; color:#C6C6C6; padding:0.25em; font-weight:bold; }
.form-details { color:#955656; }
  .form-details strong, .form-details a { color:#C19191; }

.page-header { margin-top:1rem; margin-bottom:3rem; grid-gap:0; position:fixed; background:#000; z-index:10; }
  .page-header::after { content:''; display:block; position:absolute; top:-100vw; bottom:0; left:-100vw; right:-100vw; background-color:inherit; z-index: -1; }

.site-title { margin-bottom:0; }
  .site-title a { display:block; text-indent:-9999vw; background:url('gdrv-logo.png') center center no-repeat; background-size:contain; width:25rem; height:7.5rem; margin:0 auto; }
.grid .site-subtitle { width:18rem; height:4rem; background:url('gdrv-subtitle.svg') center center no-repeat; background-size:contain; text-indent:-9999vw; margin:0 auto; }

/* .site-subtitle { text-transform:uppercase; font-size:0.9rem; font-weight:bold; font-style:italic; color:#808080; }
  .site-subtitle span { color:#fff; display:block; font-size:2.25em; }
  .site-subtitle span span { display:inline; color:#f00; font-size:1em; background:-webkit-linear-gradient(#DB3343, #8A1B25); -webkit-background-clip:text; -webkit-text-fill-color:transparent; } */

.site-nav { position:relative; display:inline-block; border-bottom:2px solid #3B3A3A; }
  .site-nav button { font-size:1.75rem; color:#727272; background:none; border:none; }
  .site-nav button::after { content:''; display:inline-block; width:1rem; height:1rem; background:url('down-icn.svg') center center no-repeat; background-size:contain; margin-left:1rem; }
  .site-nav ul { margin:0; padding:1rem; display:none; background:#000; position:absolute; min-width:20rem; z-index:1; right:0; }
  .site-nav li { list-style:none; font-size:1.25rem; color:#727272; margin-bottom:0.5rem; }
  .site-nav a { color:#727272; }
  .site-nav li.active a { color:#fff; }
  .site-nav:hover ul, .site-nav:focus-within ul { display:block; }

  .list-inline li { list-style:none; display:inline-block; }
  .no-bullets li { list-style:none; }
  .no-border { border:none; }

.article { margin-bottom:2em; }
  .article img { border:1px solid #727272; }

.btn { font-weight:bold; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; }
.btn.white { color:#fff; }
.btn.cta { font-size:1.125em; }
.btn.more { position:relative; }
  .btn.more::after { content:"\203A"; display:inline-block; margin-left:0.5rem; font-size:2em; font-weight:300; vertical-align:text-bottom; line-height:1.5rem; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; }
  .btn.more:hover::after { transform:translateX(0.125em); -webkit-transform:translateX(0.125em); -moz-transform:translateX(0.125em); }
.btn.download::before { content:''; display:inline-block; width:1.125em; height:1.125em; background:url('download-icn.svg') center center no-repeat; background-size:contain; margin-right:0.5em; vertical-align:text-bottom; }
.btn:hover { transform:scale(1.02); -webkit-transform:scale(1.02); -moz-transform:scale(1.02); }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight:bold; margin-bottom:0.5em; color:#fff; }
h1, .h1 { font-size:2rem; }
h2, .h2 { font-size:1.5rem; }
h3, .h3 { font-size:1.25rem; }
h4, h5, h6, .h4, .h5, .h6 { font-size:1.125rem; }

.section { margin-bottom:2rem; }
.section-title { color:#CC5858; }

/* Home */
.home .site-title a, .home .site-subtitle { margin:0 auto; }
.home .page-body { max-width:40rem; margin:0 auto; text-align:center; }
.access-form input::-webkit-outer-spin-button,
.access-form input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; }
.access-form input { font-size:2rem; -moz-appearance:textfield; width:1em; text-align:center; }

/* Intro Video */
.video-container { position:relative; padding-bottom:45%; height:0; overflow:hidden; max-width:80em; margin:0 auto; }
.video-container iframe, .video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }

/* Dashboard */
.checklist-list  { padding-left:1.75rem; }
  .checklist-list li { color:#727272; position:relative; margin-bottom:0.75em; font-weight:bold; }
  .checklist-list li.checked { color:#fff; }
  .checklist-list li.checked::before { content:''; display:block; position:absolute; left:-1.75em; top:0; width:1.25em; height:1.25em; background:url('check-icn.svg') center center no-repeat; background-size:contain; }

.brand-list li { position:relative; padding:1em 2em; border-radius:0.5rem; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; border-width:1px; border-style:solid; border-color:transparent; }
.brand-list a::after { content:''; display:block; position:absolute; top:0; bottom:0; left:0; right:0; z-index:1; }
.brand-list img { display:block; }
.brand-list li:hover, .brand-list li:focus-within { transform:scale(1.02); -webkit-transform:scale(1.02); -moz-transform:scale(1.02); background-color:#111; border-color:#CC5858; }

/* Model */
.model-header.grid { padding-bottom:1.5rem; margin-bottom:3rem; border-bottom:1px solid #ccc; }
.model-logo { max-width:22rem; }
.model-buttons { margin-bottom:0; }
  .model-buttons a { margin-left:3em; color:#fff; font-weight:bold; }
  .model-buttons a::after { content:''; display:inline-block; width:1.125em; height:1.125em; background:url('download-icn.svg') center center no-repeat; background-size:contain; margin-left:0.5em; vertical-align:text-bottom; }

.video-item { text-align:center; position:relative; color:#fff; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; }
  .video-item:hover, .video-item:focus-within { transform:scale(1.02); -webkit-transform:scale(1.02); -moz-transform:scale(1.02); }
  .video-item a { color:#fff; }
  .video-item a::after { content:''; display:block; position:absolute; top:0; bottom:0; left:0; right:0; z-index:1; }
  .video-item img { border:1px solid #727272; }
  .video-item.new::before { content:'New!'; display:block; font-size:0.8em; font-weight:bold; font-style:italic; text-transform:uppercase; color:#385031; background-color:#AAC980; padding:0 0.75rem; position:absolute; top:0.75em; left:-0.25rem; }
  .video-item.new::after { content:''; display:block; width:0; height:0; position:absolute; z-index:-1; left:-0.25rem; top:2.2rem; border-width: 0 0.5rem 0.5rem 0; border-color:#518043; border-style:solid; border-left-color:transparent; border-bottom-color:transparent; z-index:-1; }
  .video-title { font-size:1.125rem; }

/* Schedule Appointment */
.rep-list a { color:#CC9D9D; }

/* Alignment */
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.float-left {float:left;}
.float-right {float:right;}
.block-center {max-width:65rem; margin-left:auto; margin-right:auto;}
.block-center-wide { max-width:90rem; }
.justify-start { justify-content:flex-start; }
.justify-center { justify-content:center;}
.justify-end { justify-content:flex-end;}
.justify-between { justify-content:space-between;}
.justify-around { justify-content:space-around;}
.justify-self-start { justify-self:flex-start;}
.justify-self-center { justify-self:center;}
.justify-self-end { justify-self:flex-end;}
.align-start { align-items:flex-start; }
.align-center { align-items:center;}
.align-end { align-items:flex-end;}
.align-self-start { align-self:flex-start; }
.align-self-center { align-self:center; }
.align-self-end { align-self:flex-end; }

/* 768px
---------------------------------------------------*/
@media only screen and ( min-width:48em) {

}

/* 960px
---------------------------------------------------*/
@media only screen and ( min-width:60em) {
  .page-header { position:static; background-color:transparent; }
  .site-title a, .grid .site-subtitle { margin:0; }
  .home .site-title a, .home .site-subtitle { margin:0 auto; }
    .grid .site-subtitle { width:22rem; }
  .site-nav { border-bottom:none; }
  .section { margin-bottom:3em; }
}

/* 1280px
---------------------------------------------------*/
@media only screen and ( min-width:80em) {
  .section { margin-bottom:4em; }
}

/* 1600px
---------------------------------------------------*/
@media only screen and ( min-width:100em) {
}
